<section class="section">
  <form action="/dashboard/playlist/{{playlist._id}}/addtrack" method="POST">
    <div class="field">
      <label for="name" class="label">Track Name</label>
      <input type="text" class="input" name="title" />
    </div>
    <div class="field">
      <label for="name" class="label">Artist</label>
      <input type="text" class="input" name="artist" />
    </div>
    <div class="field">
      <label for="duration" class="label">Track Length (mins)</label>
      <input type="number" class="input" name="duration" />
    </div>
    <div class="field">
      <button class="button">Add</button>
    </div>
  </form>
</section>